/*Fonts*/
@font-face {
    font-family: fontHeader;
    src: url("fonts/Christmas.otf");
}

@font-face {
    font-family: fontText;
    src: url("fonts/textStyle.otf");
}

@font-face {
    font-family: fontMainPage;
    src: url("fonts/MainChirstmas.otf");
}

/* for the phone screen */
.column_text {
    float: right;
    padding-right: 60px;
    margin: 0;
}

/*Headers de las paginas*/
.headers {
    font-weight: 400;
    font-style: normal;
    color: #a83a3a;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 25px;
    font-family: fontMainPage;
    font-size: 100px;
}

/*Papa Noel dos columnas*/
#PapaNoel {
    width: 100%;
    height: 100vh;
}

.column_text, .column_img {
    padding-top: 5vh;
    width: 50%;
    box-sizing: border-box;
}

.column_img {
    float: left;
    padding-left: 100px;
}

/*Papa Noel linea*/
.line {
    border-bottom: 2px solid #a83a3a;
    padding-top: 15px;
    width: 65%;
}

/*Iconos*/
.icons-grind {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 20px;
}

.icon {
    width: 10%;
    padding-top: 30px;
}

.icon-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.icon-desc-text {
    padding-top: 30px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
* {
        cursor: url(./photos/png-clipart-open-snowman-graphics-pallet-snowman-faces-pinterest-face-hat.png) 12 6, auto;
}
html, body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
}

/*Las Cartas*/
#LasCartas {
    width: 100%;
    min-height: 100vh;
    height: auto;
    overflow: auto;
}

.cartas-grind {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 2vh;
    grid-row-gap: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.carta {
    width: 28vw;
    height: 20vw;
    border: 0.4vmin dashed darkred;
    background: rgba(205, 92, 92, 0.8);
    border-radius: 3vmin;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 2vw;
}

.carta-header{
    text-align: left;
    font-size: 3vw;
    font-family: fontHeader;
}

.carta-text {
    font-size: 1.5vw;
    white-space: pre-line;
}

.carta-photo {
    width: 11.7vw;
    height: 11.7vw;
    border-radius: 1vmin;
    object-fit: cover;
    position: absolute; /*pq tenemos carta y su posición, y foto es su objeto*/
    top: 43%;
    right: 2vw;
    transform: translate(0%, -50%);
}

@media (max-width: 600px) {

    #LasCartas {
        align-content: center;
        justify-content: center;
    }

    .cartas-grind {
        grid-template-columns: 1fr;
    }

    .carta {
        width: 100%;
    }

    .carta-text {
        font-size: 3vw;
    }

    .carta-header {
        font-size: 4vw;
    }

    .carta-photo {
        top: 50%;
        width: 14vw;
        height: 14vw;
    }

    .column_img {
        float: left;
        padding-left: 40px;
        width: 50%;
    }
}

/*Envia Tu Carta*/
#EnviaTuCarta {
    width: 100%;
    height: auto;
}

/*container for the form*/
.forma {
    width: 90%;
    height: 80%;
    left: 5vw;
    right: 5vw;
    /*border: 0.4vmin solid darkred;*/
    background: rgba(205, 92, 92, 0.5);
    border-radius: 3vmin;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 4vw;
    justify-content: flex-start;
    overflow: auto;
}

/*split of the container into two parts*/
.forma-left, .forma-right {
    width: 45%;
    box-sizing: border-box;
    padding-bottom: 1vw;
}

.forma-right {
    float: right;
}

.forma-left {
    float: left;
}

/*the biggest field for the letter sending*/
.forma-middle {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.forma-middle input[type=text] {
    height: 10vw;
}

.forma-header {
    text-align: left;
    font-size: 3vw;
    font-family: fontHeader;
    padding-bottom: 4vw;
}

.forma-text {
    font-size: 1.5vw;
    white-space: pre-line;
}

/*submit button position*/
.forma-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*form input functionality*/
input[type=text] {
    width: 100%;
    padding: 1vw;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/*submit button functionality*/
input[type=submit] {
    background-color: rgba(205, 92, 92);
    color: white;
    padding: 1vw 5vw;
    border: none;
    border-radius: 4px;
    font-family: fontHeader;
    font-size: 2vw;

}

/*change of the color while clicking on submit button*/
input[type=submit]:hover {
    background-color: #e19c38;
    border: 0.4vmin dashed rgb(194, 71, 71);
}

/*Inicio*/
#Inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('photos/1920-merry-christmas-background-with-copy-space.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #c2b28c;

}
@keyframes AnimacionLetras {
    from{color: #c1b089
    }
    to{color: goldenrod}
}
/*Barra Navegación deberia cambiar depende del dispositivo*/
#Navegacion{
    margin: 0;
    width: 100%;
    height: 9vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background: linear-gradient(to bottom, rgb(50, 53, 61), rgb(50, 53, 61, 0));
    justify-items: center;

}

#Navegacion a{
    text-align: center;
    flex-grow: 1;
    font-family: fontMainPage;
    font-size: 10vmin;
    color: #c2b38d;
    text-shadow: #383a43 10px 0 10px;
    margin: 40px 4px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
    wrap-option: no-wrap;
}
#Navegacion a:hover{
    animation-name: AnimacionLetras;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}
#InicioTitulo {
    font-family: fontMainPage;
    margin-top: 10vmax;
    font-size: 20vmin;
    text-shadow: #383a43 10px 0 10px;
    margin-bottom: 1vh;
}
@keyframes AnimacionColor {
    from{background-color: #c3b18a
    }
    to{background-color: goldenrod}
}

#InicioContador {
    color: #d9ae51;
    background-color: #24262e;
    border: 2px solid #4b4d59;
    margin-top: 1vmin;
    margin-bottom: 5vmin;
    font-size: 12vmin;
    border-spacing: 0;
    border-radius: 20px;
    text-align: center;
}
#InicioContador tr td{
    padding: 0.5vh 1vw;
    text-align: center;
    border-right: 3px dotted rgb(76, 78, 90);
    animation-name: AnimacionLetras;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}
#InicioContadorUltimo{
    border-right: none !important;
}

#InicioBoton {
    color: #2b2d38;
    font-size: 2.5vmin;
    font-weight: 700;
    border: 0px;
    border-radius: 12px;
    padding: 2vmin 6vmin;
    background-color: #c2b18b;
}
#InicioBoton:hover {
    margin: 0;
    transform: scale(1.2);
    background-color: goldenrod;
    animation-name: AnimacionColor;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
/*JUEGA*/

#Juega {
    height: 100vh;
    width: 100%;
}
#Juega h1{
    margin: 0;
}
#Juega div{
    border-bottom: 10vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 70%;
    width: auto;
}
#Juega div input{
    display: none;
}
@media (max-aspect-ratio: 6/5) {
    #Juega div{
        flex-direction: row;
        height: 65%;
        gap: 5% 0
    }
}
#Juega div label{
    font-family: fontMainPage;
    text-wrap: wrap;
    font-size: 10vmin;
    color: #c2b38d;
    display: flex;
    flex: 0 0 33.3%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#Juega div img{
    grid-column: 2;
    grid-row: 1 / span 3;
    width: auto;
    height: 100%;
    display: none;
    margin: auto;
}
#LanzaNieves:checked ~ #LanzaNievesIMG {
    display: block;
}
#CarreraDeTrineos:checked ~ #CarreraDeTrineosIMG {
    display: flex;
}
#ReparteRegalos:checked ~ #ReparteRegalosIMG {
    display: flex;
}


