/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');
.mountains-of-christmas-regular {
  font-family: "Mountains of Christmas", serif;
  font-weight: 400;
  font-style: normal;
}

.mountains-of-christmas-bold {
  font-family: "Mountains of Christmas", serif;
  font-weight: 700;
  font-style: normal;
}

.column_text, .column_img {
    width: 50%;
    box-sizing: border-box;
    padding-top: 10px;
}
.column_img {
    float: left;
    padding-left: 20px;
}
/* for the phone screen */
.column_text {
    float: right;
    padding-right: 60px;
    margin: 0;
}
.textbox {
    border: 3px dashed darkred;
    background: indianred;
    border-radius: 25px;
    padding: 5px 30px;
    color: navajowhite;
    font-family: "Lucida Handwriting", cursive;
}
.headers {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: antiquewhite;
    /*text-shadow: 2px 2px gray;*/
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}
.snow {
    position: absolute;
    top: -13px;
    left: 2px;
    width: 80%;
    z-index: 10;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/*Inicio*/
#Inicio {
    font-family: "Calibri", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('./1920-merry-christmas-background-with-copy-space.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #2b2d38;

}
@keyframes AnimacionLetras {
    from{color: #c1b089
    }
    to{color: goldenrod}
}
/*Barra Navegación deberia cambiar depende del dispositivo*/
#Navegacion{
    margin: 0;
    width: 100%;
    height: 9vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: rgba(94, 95, 103, 0.63);
    justify-content: flex-end;

}

#Navegacion a{
    border: 2px solid #4c4f58;
    margin: 2px 4px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    text-decoration: none;
    font-family: "Russo One", sans-serif;
    background-color: #2b2d38;
    color: #5e5f67;
    align-items: center;
}
#Navegacion a:hover{
    animation-name: AnimacionLetras;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}
#InicioTitulo {
    margin-top: 13vmax;
    font-size: 13vmin;
    text-shadow: #5d5e66 10px 0 10px;
    margin-bottom: 1vh;
}
@keyframes AnimacionColor {
    from{background-color: #c3b18a
    }
    to{background-color: goldenrod}
}

#InicioContador {
    color: #d9ae51;
    background-color: #24262e;
    border: 2px solid #4b4d59;
    margin-top: 1vmin;
    margin-bottom: 5vmin;
    font-size: 12vmin;
    border-spacing: 0;
    border-radius: 20px;
}
#InicioContador tr td{
    padding: 0.5vh 1vw;
    text-align: center;
    border-right: 3px dotted rgb(76, 78, 90);
    animation-name: AnimacionLetras;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}
#InicioContadorUltimo{
    border-right: none !important;
}

#InicioBoton {
    color: #2b2d38;
    font-size: 2.5vmin;
    font-weight: 700;
    border: 0px;
    border-radius: 12px;
    padding: 2vmin 6vmin;
    background-color: #c2b18b;
}
#InicioBoton:hover {
    margin: 0;
    transform: scale(1.2);
    background-color: goldenrod;
    animation-name: AnimacionColor;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
